@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.card-container {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card-container > div.card-pane {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(27, 27, 27, 0.3);
}

div.card-element {
  z-index: 1;
  width: 40%;
  max-width: 280px;
  min-height: 350px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;  
  animation-name: fade;
  animation-duration: 0.5s;
}

div.card-element > header {
  position: relative;
  margin: 0 auto 20px;
  height: 150px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

div.card-element > header > h2.tag-abbr {
  text-transform: capitalize;
}

div.card-element > header > small {
  position: absolute;
  top: 3px;
  right: 3px;
}

div.card-element > footer > p {
  margin-bottom: 16px;
}

div.card-element > footer > section h4 {
  margin-bottom: 10px;
}

div.card-element > footer > section ul {
  list-style: none;
  padding-left: 8px;
}

div.card-element > footer > section dfn {
  color: #3f3d3d;
  margin-right: 16px;
  text-decoration: underline;
}
